* {
    margin: 0;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 2.2ch;
}

h1 {
    font-size: 3.9ch;
    padding: 20px 0px;
}

h2 {
    padding: 20px 0px;
}

.main-page {
    display: flex;
}

nav {
    background-color: rgb(249, 244, 245);
    height: 100vh;
    width: 300px;
    flex-shrink: 0;
    position: fixed;    
}

nav {
    display: flex;
    flex-direction: column;
}

nav ol {
    /* padding: 10px 20px; */
    list-style-position: inside;
    list-style: none;
    padding: 30px;
}

nav a {
    padding: 0px 1px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: blue;
}

section {
    margin-left: 300px;
}

section a {
    color: rgb(29, 29, 30);
    text-decoration: none;
}

section a:visited {
    color: rgb(29, 29, 30);
}

.page {
    margin-top: 70px;
    padding: 0px 200px;
    line-height: 2.8ch;
    display: flex;
    flex-direction: column;
}

blockquote {
    background-color: rgb(208, 226, 245);
    margin: 20px 0px;
    padding: 20px;
    border-top: 1.5px solid rgb(92, 158, 228);
    border-bottom: 1.5px solid rgb(92, 158, 228);
}

pre {
    /* background-color: rgb(234, 234, 234); */
    padding: 20px 0;
    line-height: 2.3ch;
    margin: 20px 0;
}

.header {
    background-color: rgb(255, 255, 255);
    height: 60px;
    margin-bottom: 20px;
    position: fixed;
    width: calc(100vw - 300px);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header p {
    font-size: 24px;
    color: rgb(116, 116, 116);
    font-family: "Open Sans", sans-serif;   
    font-size: 200;
}

.header button {
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;   
    border-radius: 10px;
}

.github {
    margin-right: 30px;
}

.close {
    margin-left: 30px;
    justify-content: center;
    align-items: center;    
}

.close img {
    margin: 0px;
}